/* =========================
 Header
 ===== */
.resume-name {
    font-size: 2.3rem;
}

.resume-contact li svg {
    margin-right: 5px !important;
}

.resume-contact li:nth-child(n+3) {
    display: inline-block;
    padding: 0 !important;
    margin: 0 20px 0 0 !important;
}

.resume-contact li:nth-child(n+3) svg {
    margin-right: 2px !important;
}

.resume-contact li:last-child {
    display: none;
}

/* =========================
 Share Between Sections
 ===== */
.resume-section-heading {
    font-size: 1.3rem;
    background-color: #ebfff6;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* =========================
 Intro
 ===== */
.resume-intro {
    font-size: 1rem;
    color: #333333;
}

.resume-intro li {
    padding-bottom: 5px;
}

.resume-intro ul,
.resume-intro p {
    padding: 0;
    margin: 0;
}

.resume-profile-image {
    max-width: 140px;
}

/* =========================
 Main
 ===== */
.resume-main .item-title {
    font-size: 1.1rem;
}

.resume-main .item-content {
    font-size: 1rem;
    color: #444444;
}

.resume-main .item-content li {
    padding-bottom: 5px;
}

.resume-main .item-meta {
    font-size: .85rem;
    color: #4e9a77 !important;
}

/* =========================
 Sidebar
 ===== */
.resume-aside .item {
    font-size: 0.9rem;
    color: #444444;
}

.resume-aside .item > ul {
    padding-left: 25px;
}

.resume-aside .item > ul ul {
    padding-left: 0;
}

/* =========================
 Responsive
 ===== */
/* SM */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/* MD */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/* LG */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* XL */
@media (min-width: 1200px) {
    .container {
        max-width: 1350px;
    }
}