<div>
	<ul class="sidebar-nav">
		{{ $currentPage := . }} 
		{{ range .Site.Menus.main }} 
			{{ if .HasChildren }}
			<li {{ if $currentPage.HasMenuCurrent "main" . }}class="active"{{ end }}>
				<a href="#">{{ .Pre }}
					<span>{{ .Name }}</span>
				</a>
				<ul class="sidebar-nav">
					{{ range .Children }}
					<li {{ if $currentPage.IsMenuCurrent "main" . }}class="active"{{ end }}>
						<a href="{{ .URL | absLangURL }}">{{ .Name | title }}</a>
					</li>
					{{ end }}
				</ul>
			</li>
			{{ else }} <!-- No children -->
				<li>
					<a href="{{.URL | absLangURL}}">{{ .Pre }}
						<span>{{ .Name | title }}</span>
					</a>
				</li>
			{{ end }} 
		{{ end }}
	</ul>
</div>

<div style="text-align: center; margin-bottom: 20px">
{{ range $.Site.Home.AllTranslations }}
<a
  style="border: 1px solid #fff; border-radius: 10px; width: 40px; display: inline-block; padding: 3px 0;"
  href="{{ .Permalink }}"
>
	{{ .Language.LanguageName }}
</a>
{{ end }}
</div>

